<div class="flex flex-wrap justify-between w-screen border-b">
    <a href="/index.html"><img src="../../img/logo.png" alt="Logo" srcset="" style="height: 8rem;"></a>
    <div class="flex  items-center gap-4 p-2">
        <img src="/img/icons/search.svg" style="height: 2rem;" alt="" srcset="">
        <a href="#">Browse</a>
        <a href="#">News</a>
        <a href="/html/pages/about.html">About</a>
        <a href="#">Help</a>
        <a href="/html/pages/login.html">Login</a>
        <a href="#" class="bg-grey bg-grey-hover text-white font-bold p-2">Sign Up</a>
        <a href="#" class="button p-2">Sell</a>
    </div>
</div>
<script src="../../js/index.js"></script>